<section id="home" class="main-banner">
    <div class="slider-new-2 owl-carousel owl-theme">
        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-01.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>EXCELL-ON SERVICES DESIGN</h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-02.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>INTERIOR DESIGN</h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-03.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>INTERIOR DESIGN </h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<div id="blog" class="section wb">
    <div class="container-fluid">
        <div class="section-title text-center">
            <h3>Blog</h3>
            <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-thumb">
                        <img src="~/Content/uploads/blog-01.jpg" class="img-fluid" alt="post-img" />
                        <div class="date">
                            <span>06</span>
                            <span>Aug</span>
                        </div>
                    </div>
                    <div class="post-info">
                        <ul>
                            <li>by admin</li>
                            <li>Apr 21, 2018</li>
                            <li><a href="#"><b> Comments</b></a></li>
                        </ul>
                        <h4>Quisque auctor lectus interdum nisl accumsan venenatis.</h4>
                        <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-thumb">
                        <img src="~/Content/uploads/blog-02.jpg" class="img-fluid" alt="post-img" />
                        <div class="date">
                            <span>06</span>
                            <span>Aug</span>
                        </div>
                    </div>
                    <div class="post-info">
                        <ul>
                            <li>by admin</li>
                            <li>Apr 21, 2018</li>
                            <li><a href="#"><b> Comments</b></a></li>
                        </ul>
                        <h4>Quisque auctor lectus interdum nisl accumsan venenatis.</h4>
                        <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-thumb">
                        <img src="~/Content/uploads/blog-03.jpg" class="img-fluid" alt="post-img" />
                        <div class="date">
                            <span>06</span>
                            <span>Aug</span>
                        </div>
                    </div>
                    <div class="post-info">
                        <ul>
                            <li>by admin</li>
                            <li>Apr 21, 2018</li>
                            <li><a href="#"><b> Comments</b></a></li>
                        </ul>
                        <h4>Quisque auctor lectus interdum nisl accumsan venenatis.</h4>
                        <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
