<section id="home" class="main-banner">
    <div class="slider-new-2 owl-carousel owl-theme">
        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-01.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>EXCELL-ON SERVICES DESIGN</h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-02.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>INTERIOR DESIGN</h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-03.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>INTERIOR DESIGN </h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="section cont-box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="inner-cont-box">
                    <i class="flaticon-projector-screen"></i>
                    <h3 class="counter-number">8000</h3>
                    <h4>Project Done</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="inner-cont-box">
                    <i class="flaticon-alarm-clock"></i>
                    <h3 class="counter-number">3000</h3>
                    <h4>Time Of Work</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="inner-cont-box">
                    <i class="flaticon-idea"></i>
                    <h3 class="counter-number">2000</h3>
                    <h4>Ideas</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="inner-cont-box">
                    <i class="flaticon-review"></i>
                    <h3 class="counter-number">5000</h3>
                    <h4>Client</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="services" class="section lb">
    <div class="container-fluid">
        <div class="section-title text-center">
            <h3>Services</h3>
            <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-4">
                <a href="/Service">
                    <div class="services-inner-box">
                        <div class="ser-icon">
                            <i class="flaticon-seo"></i>
                        </div>
                        <h2>Web Development</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </a>
            </div><!-- end col -->
            <div class="col-md-4">
                <a href="/Service">
                    <div class="services-inner-box">
                        <div class="ser-icon">
                            <i class="flaticon-development"></i>
                        </div>
                        <h2>Responsive Design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </a>
            </div><!-- end col -->
            <div class="col-md-4">

                <a href="/Service">
                    <div class="services-inner-box">
                        <div class="ser-icon">
                            <i class="flaticon-process"></i>
                        </div>
                        <h2>Creative Design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </a>
            </div><!-- end col -->
            <div class="col-md-4">

                <a href="/Service">
                    <div class="services-inner-box">
                        <div class="ser-icon">
                            <i class="flaticon-discuss-issue"></i>
                        </div>
                        <h2>Support</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </a>
            </div><!-- end col -->
            <div class="col-md-4">

                <a href="/Service">
                    <div class="services-inner-box">
                        <div class="ser-icon">
                            <i class="flaticon-idea"></i>
                        </div>
                        <h2>Web Idea</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </a>
            </div><!-- end col -->
            <div class="col-md-4">

                <a href="/Service">
                    <div class="services-inner-box">
                        <div class="ser-icon">
                            <i class="flaticon-idea-1"></i>
                        </div>
                        <h2>Graphic Design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </a>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="products" class="section wb">
    <div class="container-fluid">
        <div class="section-title text-center">
            <h3>Products</h3>
            <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
        </div><!-- end title -->

        <div class="gallery-list row">
            <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_b">
                <a href="/Product">
                    <div class="gallery-single fix">
                        <img src="~/Content/uploads/gallery_img-01.jpg" class="img-fluid" alt="Image">
                        <div class="img-overlay">
                            <h3>Office Interior</h3>
                            <a href="~/Content/uploads/gallery_img-01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_b">

                <a href="/Product">
                    <div class="gallery-single fix">
                        <img src="~/Content/uploads/gallery_img-02.jpg" class="img-fluid" alt="Image">
                        <div class="img-overlay">
                            <h3>Office Interior</h3>
                            <a href="~/Content/uploads/gallery_img-02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_b gal_c">
                <a href="/Product">
                    <div class="gallery-single fix">
                        <img src="~/Content/uploads/gallery_img-03.jpg" class="img-fluid" alt="Image">
                        <div class="img-overlay">
                            <h3>Indoor Interior</h3>
                            <a href="~/Content/uploads/gallery_img-03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_b gal_a">
                <a href="/Product">
                    <div class="gallery-single fix">
                        <img src="~/Content/uploads/gallery_img-04.jpg" class="img-fluid" alt="Image">
                        <div class="img-overlay">
                            <h3>Indoor Interior</h3>
                            <a href="~/Content/uploads/gallery_img-04.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_c gal_d">
                <a href="/Product">
                    <div class="gallery-single fix">
                        <img src="~/Content/uploads/gallery_img-05.jpg" class="img-fluid" alt="Image">
                        <div class="img-overlay">
                            <h3>Living Room </h3>
                            <a href="~/Content/uploads/gallery_img-05.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_c gal_d">
                <a href="/Product">
                    <div class="gallery-single fix">
                        <img src="~/Content/uploads/gallery_img-06.jpg" class="img-fluid" alt="Image">
                        <div class="img-overlay">
                            <h3>Living Room </h3>
                            <a href="~/Content/uploads/gallery_img-06.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_c gal_b">
                <a href="/Product">
                    <div class="gallery-single fix">
                        <img src="~/Content/uploads/gallery_img-07.jpg" class="img-fluid" alt="Image">
                        <div class="img-overlay">
                            <h3>Ecommercial Room </h3>
                            <a href="~/Content/uploads/gallery_img-07.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_d gal_c">
                <a href="/Product">
                    <div class="gallery-single fix">
                        <img src="~/Content/uploads/gallery_img-08.jpg" class="img-fluid" alt="Image">
                        <div class="img-overlay">
                            <h3>Ecommercial Room </h3>
                            <a href="~/Content/uploads/gallery_img-08.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_d gal_a">
                <a href="/Product">
                    <div class="gallery-single fix">
                        <img src="~/Content/uploads/gallery_img-09.jpg" class="img-fluid" alt="Image">
                        <div class="img-overlay">
                            <h3>Ecommercial Room </h3>
                            <a href="~/Content/uploads/gallery_img-09.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>

<div id="testimonials" class="section lb">
    <div class="container-fluid">
        <div class="section-title text-center">
            <h3>Testimonials</h3>
            <p>We thanks for all our awesome testimonials! There are hundreds of our happy customers! </p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="testi-carousel owl-carousel owl-theme">
                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                            <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                        </div>
                        <div class="testi-meta">
                            <img src="~/Content/uploads/testi_01.png" alt="" class="img-fluid alignleft">
                            <h4>James Fernando <small>- Manager of Racer</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->

                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                            <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                        </div>
                        <div class="testi-meta">
                            <img src="~/Content/uploads/testi_02.png" alt="" class="img-fluid alignleft">
                            <h4>Jacques Philips <small>- Designer</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->

                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                            <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                        </div>
                        <div class="testi-meta">
                            <img src="~/Content/uploads/testi_03.png" alt="" class="img-fluid alignleft">
                            <h4>Venanda Mercy <small>- Newyork City</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->
                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                            <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                        </div>
                        <div class="testi-meta">
                            <img src="~/Content/uploads/testi_01.png" alt="" class="img-fluid alignleft">
                            <h4>James Fernando <small>- Manager of Racer</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->

                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                            <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                        </div>
                        <div class="testi-meta">
                            <img src="~/Content/uploads/testi_02.png" alt="" class="img-fluid alignleft">
                            <h4>Jacques Philips <small>- Designer</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->

                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                            <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                        </div>
                        <div class="testi-meta">
                            <img src="~/Content/uploads/testi_03.png" alt="" class="img-fluid alignleft">
                            <h4>Venanda Mercy <small>- Newyork City</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div><!-- end testimonial -->
                </div><!-- end carousel -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->


<div id="pricing" class="section lb">
    <div class="container-fluid">
        <div class="section-title text-center">
            <h3>Our Pricing</h3>
            <p>We thanks for all our awesome testimonials! There are hundreds of our happy customers! </p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="title">Renovation</h3>
                        <div class="price-value">
                            <div class="value">
                                <span class="amount">$10.00</span>
                                <span class="month">per Month</span>
                            </div>
                        </div>
                    </div>
                    <ul class="pricing-content">
                        <li>50GB Disk Space</li>
                        <li>50 Email Accounts</li>
                        <li>50GB Monthly Bandwidth</li>
                        <li>10 Subdomains</li>
                        <li>15 Domains</li>
                    </ul>
                    <a href="#" class="hvr-rectangle-out pricingTable-signup"><i class="fa fa-dot-circle-o"></i>Buy Now</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="title">Interior</h3>
                        <div class="price-value">
                            <div class="value">
                                <span class="amount">$20.00</span>
                                <span class="month">per Month</span>
                            </div>
                        </div>
                    </div>
                    <ul class="pricing-content">
                        <li>60GB Disk Space</li>
                        <li>60 Email Accounts</li>
                        <li>60GB Monthly Bandwidth</li>
                        <li>15 Subdomains</li>
                        <li>20 Domains</li>
                    </ul>
                    <a href="#" class="hvr-rectangle-out pricingTable-signup"><i class="fa fa-dot-circle-o"></i>Buy Now</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="title">Decoration</h3>
                        <div class="price-value">
                            <div class="value">
                                <span class="amount">$30.00</span>
                                <span class="month">per Month</span>
                            </div>
                        </div>
                    </div>
                    <ul class="pricing-content">
                        <li>70GB Disk Space</li>
                        <li>70 Email Accounts</li>
                        <li>70GB Monthly Bandwidth</li>
                        <li>20 Subdomains</li>
                        <li>25 Domains</li>
                    </ul>
                    <a href="#" class="hvr-rectangle-out pricingTable-signup"><i class="fa fa-dot-circle-o"></i>Buy Now</a>
                </div>
            </div>
        </div>

    </div>
</div>
