<section id="home" class="main-banner">
    <div class="slider-new-2 owl-carousel owl-theme">
        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-01.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>EXCELL-ON SERVICES DESIGN</h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-02.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>INTERIOR DESIGN</h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-03.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>INTERIOR DESIGN </h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div id="team" class="section wb">
    <div class="container-fluid">
        <div class="section-title text-center">
            <h3>Meet Our Team</h3>
            <p>We thanks for all our awesome testimonials! There are hundreds of our happy customers! </p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-3 col-sm-6 ">
                <div class="box">
                    <img src="~/Content/uploads/img-1.jpg">
                    <div class="box-content">
                        <h3 class="title">Cong Trinh Van</h3>
                        <span class="post">Web Developer</span>
                        <ul class="icon">
                            <li><a href="#"><span><i class="fa fa-facebook"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-twitter"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-google-plus"></i></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 ">
                <div class="box">
                    <img src="~/Content/uploads/img-2.jpg">
                    <div class="box-content">
                        <h3 class="title">Dung Le Viet</h3>
                        <span class="post">Web Designer</span>
                        <ul class="icon">
                            <li><a href="#"><span><i class="fa fa-facebook"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-twitter"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-google-plus"></i></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 ">
                <div class="box">
                    <img src="~/Content/uploads/img-3.jpg">
                    <div class="box-content">
                        <h3 class="title">Khanh Nguyen Van</h3>
                        <span class="post">Web Developer</span>
                        <ul class="icon">
                            <li><a href="#"><span><i class="fa fa-facebook"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-twitter"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-google-plus"></i></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 ">
                <div class="box">
                    <img src="~/Content/uploads/img-3.jpg">
                    <div class="box-content">
                        <h3 class="title">Tung Nguyen Son</h3>
                        <span class="post">Designer</span>
                        <ul class="icon">
                            <li><a href="#"><span><i class="fa fa-facebook"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-twitter"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-google-plus"></i></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

