@section AdditionStyles{
    <style>
        .feature-service {
            position: absolute;
            left: 0;
            bottom: 3px;
        }

            .feature-service img {
                padding-right: 5px;
                transform: none !important;
            }

        .m-highlights-title {
            text-align: center;
            font-size: 23px;
            font-weight: 600;
            font-family: inherit;
            margin-bottom: 25px;
            margin-top: 25px;
        }

        .price-calc {
            color: #009688;
        }

        .price-ori {
            color: red;
            text-decoration: line-through;
        }
    </style>
}

<section id="home" class="main-banner">
    <div class="slider-new-2 owl-carousel owl-theme">
        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-01.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>EXCELL-ON SERVICES DESIGN</h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-02.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>INTERIOR DESIGN</h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-03.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>INTERIOR DESIGN </h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div id="services" class="section wb">
    <div class="container-fluid">
        <div class="section-title text-center">
            <h3>Services</h3>
            <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
        </div><!-- end title -->

        <div class="gallery-menu row" style="margin-bottom:30px">
            <div class="col-md-12">
                <div class="button-group filter-button-group text-center">
                    <button class="hvr-rectangle-out active" data-filter="*">All</button>
                    @foreach (var item in ViewBag.ServiceCategories)
                    {
                        <button class="hvr-rectangle-out active" data-filter=".@item.id" data-cat="@item.id">@item.name</button>
                    }

                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="container">
                <div class="service-entries">
                    <div class="service-entries-list">
                        @*<div class="service-entries-item wow fadeInUp">
                            <figure class="service-category">
                                <div class="service-image effect_image">
                                    <a href="/Service/1">
                                        <img src="/app/images/photos/img-service-1.jpg" alt="" width="170" height="263">
                                    </a>
                                </div>
                                <figcaption class="service-caption">
                                    <h4 class="service-title">
                                        <a href="/Service/1">VILLAEM 2</a>x`
                                    </h4>
                                    <p class="service-paragraph">CHP-18AR</p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="service-entries-item wow fadeInUp">
                            <figure class="service-category">
                                <div class="service-image effect_image">
                                    <a href="/Service/1">
                                        <img src="/app/images/photos/img-service-9.jpg" alt="" width="170" height="263">
                                    </a>
                                </div>
                                <figcaption class="service-caption">
                                    <h4 class="service-title">
                                        <a href="/Service/1">VILLAEM 2</a>
                                    </h4>
                                    <p class="service-paragraph">CHP-18AR</p>
                                </figcaption>
                            </figure>
                        </div>*@
                    </div>
                </div>
                <!--end service-entries-->
            </div>
            
        </div>
    </div>
</div>
@section AdditionScripts{
    <script>

        class Service_Index {
            constructor() {
                var that = this;
                this.loadServices();
                this.catId = 0;
                $("[data-cat]").on('click', (e) => {
                    that.changeCategory(Number($(e.target).data("cat")));
                });
            }
            changeCategory(catId) {
                this.catId = catId;
                this.loadServices();
            }
            loadServices() {
                let container_services = $(".service-entries-list").empty();
                var iWidth = $(window).width() / 3;
                $.get("/service/GetServicesByCategoryId", { catId: this.catId }).done((res) => {
                    if (res.success) {
                        if (res.data && res.data.length > 0) {
                            res.data.forEach(itemData => {
                                let itemDom = $(`
                                    <div class="service-entries-item wow fadeInUp">
                                        <figure class="service-category">
                                            <div class="service-image effect_image">
                                                <a href="/Service/Info/${itemData.id}">
                                                    <img class="service-image" src="${itemData.images[0].path}" alt="" height="263" style="max-width:${iWidth > 300 ? iWidth:300}px">
                                                </a>
                                                <div class="feature-service"></div>
                                            </div>
                                            <figcaption class="service-caption">
                                                <h4 class="service-title">
                                                    <a href=""></a>
                                                </h4>
                                                <h4 class="service-price"><span class='price-ori'></span><span class="symbol"></span><span class='price-calc'></span></h4>
                                            </figcaption>
                                        </figure>
                                    </div>`).appendTo(container_services);
                                let title_service = itemData.name ? itemData.name : '';
                                itemDom.find('.service-title').find('a').text(title_service);
                                if (itemData.discount) {
                                    itemDom.find('.price-ori').text(EnumMethod.formatMoney(itemData.price) + itemData.unit);
                                    itemDom.find('.symbol').text(' - ');
                                }
                                let price_calc = itemData.discount ? itemData.discount * itemData.price / 100 : itemData.price;
                                itemDom.find('.price-calc').text(EnumMethod.formatMoney(price_calc) + "$");
                            });

                        } else {
                            container_services.append(`<div class="service-empty" style="width:100%;text-align:center;font-size:25px;font-weight:600;padding:71px 0 115px 0;">No service found!</div>`)
                        }

                    }
                });
            }
        }

        jQuery(document).ready(() => {
            new Service_Index();
        });
    </script>

}