
<section id="home" class="main-banner">
    <div class="slider-new-2 owl-carousel owl-theme">
        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-01.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>EXCELL-ON SERVICES DESIGN</h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-02.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>INTERIOR DESIGN</h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-03.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>INTERIOR DESIGN </h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div id="services" class="section lb">
    <div class="container-fluid">
        <div class="section-title text-center">
            <h3>Services</h3>
            <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
        </div>

        <div class="gallery-menu row">
            <div class="col-md-12">
                <div class="button-group filter-button-group text-center">
                    <a href="/Service/Index"><button class="hvr-rectangle-out active">All</button></a>
                    @foreach (var item in ViewBag.Categories)
                    {
                        <a href="/Service/Index?catId=@item.id"><button class="hvr-rectangle-out">@item.name</button></a>
                    }
                </div>
            </div>
        </div>

        <div class="row">

            @foreach (var item in ViewBag.Services)
            {
                <div class="col-md-4">
                    <div class="services-inner-box">
                        <div class="ser-icon">
                            <i class="flaticon-seo"></i>
                        </div>
                        <h2>@item.name</h2>
                        <p>@item.description</p>
                    </div>
                </div><!-- end col -->
            }
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->
