################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExcellOn/bin
/ExcellOn/obj
/ExcellOn/Web.config
/ExcellOn/Web.config
/ExcellOn/Web.Debug.config
/ExcellOn/Web.Release.config
