
#login-control {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 30px;
    background: #3a3a3a;
    z-index: 100;
    padding: 3px 10px 0 10px;
    color: white;
}

#login-control a {
    color: white;
}

    #login-control a:hover {
        color: #ffc048;
    }

.content-wrapper {
    width: 100%;
}
#top_bar {
    width: 100%;
    background: #6d7fcc;
    padding: 10px;
    height: 65px;
}

#admin_box {
    float: right;
    padding-left: 10px;
    height: 70px;
    line-height: 40px;
}