<section id="home" class="main-banner">
    <div class="slider-new-2 owl-carousel owl-theme">
        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-01.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>EXCELL-ON SERVICES DESIGN</h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-02.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>INTERIOR DESIGN</h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-03.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>INTERIOR DESIGN </h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div id="products" class="section wb">
    <div class="container-fluid">
        <div class="section-title text-center">
            <h3>Products</h3>
            <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
        </div><!-- end title -->

        <div class="gallery-menu row">
            <div class="col-md-12">
                <div class="button-group filter-button-group text-center">
                    <button class="hvr-rectangle-out active" data-filter="*">All</button>
                    <button class="hvr-rectangle-out" data-filter=".gal_a">Office</button>
                    <button class="hvr-rectangle-out" data-filter=".gal_b">Indoor</button>
                    <button class="hvr-rectangle-out" data-filter=".gal_c">Living Room </button>
                    <button class="hvr-rectangle-out" data-filter=".gal_d">Ecommercial</button>
                </div>
            </div>
        </div>

        <div class="gallery-list row">
            <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_b">
                <div class="gallery-single fix">
                    <img src="~/Content/uploads/gallery_img-01.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <h3>Office Interior</h3>
                        <a href="~/Content/uploads/gallery_img-01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_b">
                <div class="gallery-single fix">
                    <img src="~/Content/uploads/gallery_img-02.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <h3>Office Interior</h3>
                        <a href="~/Content/uploads/gallery_img-02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_b gal_c">
                <div class="gallery-single fix">
                    <img src="~/Content/uploads/gallery_img-03.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <h3>Indoor Interior</h3>
                        <a href="~/Content/uploads/gallery_img-03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_b gal_a">
                <div class="gallery-single fix">
                    <img src="~/Content/uploads/gallery_img-04.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <h3>Indoor Interior</h3>
                        <a href="~/Content/uploads/gallery_img-04.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_c gal_d">
                <div class="gallery-single fix">
                    <img src="~/Content/uploads/gallery_img-05.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <h3>Living Room </h3>
                        <a href="~/Content/uploads/gallery_img-05.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_c gal_d">
                <div class="gallery-single fix">
                    <img src="~/Content/uploads/gallery_img-06.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <h3>Living Room </h3>
                        <a href="~/Content/uploads/gallery_img-06.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_c gal_b">
                <div class="gallery-single fix">
                    <img src="~/Content/uploads/gallery_img-07.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <h3>Ecommercial Room </h3>
                        <a href="~/Content/uploads/gallery_img-07.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_d gal_c">
                <div class="gallery-single fix">
                    <img src="~/Content/uploads/gallery_img-08.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <h3>Ecommercial Room </h3>
                        <a href="~/Content/uploads/gallery_img-08.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_d gal_a">
                <div class="gallery-single fix">
                    <img src="~/Content/uploads/gallery_img-09.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <h3>Ecommercial Room </h3>
                        <a href="~/Content/uploads/gallery_img-09.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
