@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

@section AdditionStyles{


}
<style>
    [readonly] {
        background-color: #FFF !important;
    }
</style>

<div class=" no-margin">
    <div class="content-title">
        <div class="caption">
            <span class="caption-subject font-green-sharp bold uppercase">User Management</span>
        </div>
    </div>
    <div class="content-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-sm btn-success" data-toggle="modal" data-target="#create_modal">
                        Add New
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <table id="user_tbl" class="display table table-striped" style="width:100%"></table>
    </div>
</div>

<!-- Modal -->
@* Click Add new show Them moi *@

<div class="modal fade" id="create_modal" data-backdrop="false" tabindex="1" role="dialog" aria-labelledby="create_modal_title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create_modal_title">Add New</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="control-label">Full Name<span class="required">*</span></label>
                        <input type="text" class="form-control" name="display_name" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">User Name<span class="required">*</span></label>
                        <input type="text" class="form-control" name="user_name" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Password<span class="required">*</span></label>
                        <input type="password" class="form-control" name="password" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">phone_number<span class="required">*</span></label>
                        <input type="text" class="form-control" name="phone_number" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">email<span class="required">*</span></label>
                        <input type="text" class="form-control" name="email" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">address<span class="required">*</span></label>
                        <input type="text" class="form-control" name="address" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Gender<span class="required">*</span></label>
                        <select name="gender" class="form-control" required>
                            <option value="1">Male</option>
                            <option value="0">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Date Of Birth<span class="required">*</span></label>
                        <input type="date" class="form-control" name="date_of_birth" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Avatar </label>
                        <input type="file" class="form-control" name="avatar" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="margin:auto">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary create">Save changes</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

@* Click Edit show Update *@
<div class="modal fade" id="edit_modal" data-backdrop="false" tabindex="1" role="dialog" aria-labelledby="update_modal_title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="update_modal_title">Update</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" name="id" required />
                    <div class="form-group">
                        <label for="" class="control-label">Full Name<span class="required">*</span></label>
                        <input type="text" class="form-control" name="display_name" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">User Name<span class="required">*</span></label>
                        <input type="text" class="form-control" name="user_name" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Password<span class="required">*</span></label>
                        <input type="password" class="form-control" name="password" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">phone_number<span class="required">*</span></label>
                        <input type="text" class="form-control" name="phone_number" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">email<span class="required">*</span></label>
                        <input type="text" class="form-control" name="email" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">address<span class="required">*</span></label>
                        <input type="text" class="form-control" name="address" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Gender<span class="required">*</span></label>
                        <select name="gender" class="form-control" required>
                            <option value="1">Male</option>
                            <option value="0">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Date Of Birth<span class="required">*</span></label>
                        <input type="date" class="form-control" name="date_of_birth" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Avatar </label>
                        <input type="file" class="form-control" name="avatar" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="margin:auto">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary update">Save changes</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

@* Click View show Detail *@
<div class="modal fade" id="view_modal" data-backdrop="false" tabindex="1" role="dialog" aria-labelledby="view_modal_title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="view_modal_title">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="control-label">Avatar </label>
                        <div style="margin:auto; width:120px;">
                            <img src="~/Content/images/no_avatar.png" width="120" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Full Name</label>
                        <input type="text" class="form-control" name="display_name" readonly />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">User Name</label>
                        <input type="text" class="form-control" name="user_name" readonly />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">phone_number</label>
                        <input type="text" class="form-control" name="phone_number" readonly />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">email</label>
                        <input type="text" class="form-control" name="email" readonly />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">address</label>
                        <input type="text" class="form-control" name="address" readonly />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Gender</label>
                        <select name="gender" class="form-control">
                            <option value="1">Male</option>
                            <option value="0">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Date Of Birth</label>
                        <input type="date" class="form-control" name="date_of_birth" readonly />
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="margin:auto">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

@section AdditionScripts{
    <script>
        class PageHandler {
            constructor() {
                var instance = this;
                instance.$table = $("#user_tbl");
                instance.$createMd = $("#create_modal");
                instance.$createMd.find(".create").on('click', (e) => {
                    e.preventDefault();
                    instance.create();
                });
                instance.$createMd.find("[data-dismiss]").on('click', (e) => {
                    instance.$createMd.find("form")[0].reset();
                });

                instance.$editMd = $("#edit_modal");
                instance.$editMd.find(".update").on('click', (e) => {
                    e.preventDefault();
                    instance.edit();
                });
                instance.$viewMd = $("#view_modal");
                instance.initTable();
            }
            initTable() {
                var instance = this;
                instance.dtTable = instance.$table.DataTable({
                    "processing": true,
                    "serverSide": false,
                    "filter": true,
                    "datatype": "json",
                    "ajax": {
                        type: "get",
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        url: "/Customer/GetAll",
                        //data: function (d) {
                        //    d.search.value = $(".dataTables_filter input").val();
                        //    return JSON.stringify(d);
                        //},
                    },
                    "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.

                    "lengthMenu": [
                        [5, 15, 20, -1],
                        [5, 15, 20, "All"] // change per page values here
                    ],
                    // set the initial value
                    "pageLength": 5,

                    columns: [
                        {
                            title: 'Avatar',
                            data: 'avatar_path',
                            render: function (data, type, row, meta) {
                                var avatarSrc = data && data != "null" ? "/Content/uploads/avatars/" + data : "/Content/images/no_avatar.png";
                                return '<img src="' + avatarSrc + '" width="30" height="30" />';
                            },

                        },
                        {
                            title: 'Full name',
                            data: 'display_name'
                        },
                        {
                            title: 'User name',
                            data: 'user_name'
                        },
                        {
                            title: 'Email',
                            data: 'email'
                        },
                        {
                            title: 'Date of birth',
                            data: 'dob',
                        },
                        {
                            title: 'Address',
                            data: 'address',
                        },
                        {
                            title: 'Gender',
                            data: 'gender',
                            render: function (data, type, row, meta) {
                                return data == 1 ? "Male" : "Female";
                            },
                        },
                        {
                            title: 'Actions',
                            render: function (data, type, row, meta) {
                                return `<a class="btn btn-sm btn-primary view-item" role="button" data-toggle="modal" href="#view_modal" aria-expanded="false">
                                                    View
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a class="btn btn-sm btn-warning edit-item" role="button" data-toggle="modal" href="#edit_modal" aria-expanded="false">
                                                    Edit
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a class="btn btn-sm btn-danger delete-item" role="button" aria-expanded="false">
                                                    Delete
                                                    <i class="fa fa-trash"></i>
                                                </a>`;
                            },
                            width: '220px',
                            className: 'text-center'
                        }
                    ],
                    columnDefs: [
                        {
                            orderable: false,
                            targets: [8]
                        }
                    ],
                    "initComplete": function (settings, json) {
                       instance.bindEvents();
                    }
                });

            }
            bindEvents() {
                var instance = this;
                instance.$table.find('a.delete-item').on('click', (e) => {
                            e.preventDefault();
                            var selectedRow = $(this).parents('tr')[0];
                            var data = instance.dtTable.row(selectedRow).data();
                            instance.delete(data);
                        });
                        instance.$table.find('a.edit-item').on('click', (e) => {
                            e.preventDefault();
                            var selectedRow = $(this).parents('tr')[0];
                            var data = instance.dtTable.row(selectedRow).data();
                            instance.bindEditData(data);
                        });
                        instance.$table.find('a.view-item').on('click', (e) => {
                            e.preventDefault();
                            var selectedRow = $(this).parents('tr')[0];
                            var data = instance.dtTable.row(selectedRow).data();
                            instance.bindViewData(data);
                        });
            }
            reloadTable() {
                var instance = this;
                instance.dtTable.ajax.reload(()=>{ instance.bindEvents(); },true);
            }
            createValidation() {
                var instance = this;
                instance.createData = {};
                let isValid = true;
                $.each(this.$createMd.find("[name][required]"), (index, item) => {
                    if ($(item).val() == "") {
                        isValid = false;
                        EXO.alert("Please enter all infomation on this form!");
                    }
                    else {
                        instance.createData[$(item).attr("name")] = $(item).val();
                    }
                });
                if (isValid) {
                    if (!EXO.isValidUserName(instance.createData.user_name)) {
                        EXO.alert("Username is 2-20 characters and digits, no _ or . at the beginning and the end!");
                        return false;
                    }
                    else
                        if (!EXO.isValidPassword(instance.createData.password)) {
                            EXO.alert("Password must has digits, characters and at least 6 characters!");
                            return false;
                        }
                        else
                            if (!EXO.isValidPhoneNumber(instance.createData.phone_number)) {
                                EXO.alert("Please enter a valid phone number!");
                                return false;
                            }
                            else
                                if (!EXO.isEmail(instance.createData.email)) {
                                    EXO.alert("Please enter a valid email!");
                                    return false;
                                } else
                                    return true;

                }
                return false;
            }
            create() {
                var instance = this;
                if (instance.createValidation()) {
                    var data = new FormData();
                    $.each(instance.createData, (key, value) => {
                        if (key != "avatar") {
                            data.append(key, value);
                        }
                    });
                    var file = instance.$createMd.find("[name=avatar]")[0].files[0];
                    if (file != null) {
                        data.append("avatar", file);
                    }
                    $.ajax({
                        url: '/Customer/CreateOrUpdate',
                        type: 'POST',
                        data: data,
                        cache: false,
                        dataType: 'json',
                        processData: false,
                        contentType: false,
                        success(response, textStatus, jqXHR) {
                            if (response.success) {
                                instance.$createMd.find("form")[0].reset();
                                instance.reloadTable();
                                instance.$createMd.hide();
                            }
                            EXO.alert(response.message);
                        },
                        error(jqXHR, textStatus, errorThrown) {
                            EXO.alert('Tạo mới thất bại!');
                        }
                    });

                }
            }
            bindViewData(data) {
                var instance = this;
                var $form = instance.$viewMd.find("form");
                $.each(data, (key, value) => {
                    var item = $form.find(`[name=${key}]`);
                    if (item.length > 0)
                        item.val(value);
                });
                var avatarSrc = data.avatar_path && data.avatar_path != "null" ? "/Content/uploads/avatars/" + data.avatar_path : "/Content/images/no_avatar.png";
                $form.find('img').attr('src', avatarSrc)
            }
            bindEditData(data) {
                var instance = this;
                var $form = instance.$editMd.find("form");
                $.each(data, (key, value) => {
                    var item = $form.find(`[name=${key}]`);
                    if (item.length > 0)
                        item.val(value);
                });
            }
            editValidation() {
                var instance = this;
                instance.editData = {};
                let isValid = true;
                $.each(this.$editMd.find("[name][required]"), (index, item) => {
                    if ($(item).val() == "") {
                        isValid = false;
                        EXO.alert("Please enter all infomation on this form!");
                    }
                    else {
                        instance.editData[$(item).attr("name")] = $(item).val();
                    }
                });
                if (isValid) {
                    if (!EXO.isValidUserName(instance.editData.user_name)) {
                        EXO.alert("Username is 2-20 characters and digits, no _ or . at the beginning and the end!");
                        return false;
                    }
                    else
                        if (!EXO.isValidPassword(instance.editData.password)) {
                            EXO.alert("Password must has digits, characters and at least 6 characters!");
                            return false;
                        }
                        else
                            if (!EXO.isValidPhoneNumber(instance.editData.phone_number)) {
                                EXO.alert("Please enter a valid phone number!");
                                return false;
                            }
                            else
                                if (!EXO.isEmail(instance.editData.email)) {
                                    EXO.alert("Please enter a valid email!");
                                    return false;
                                } else
                                    return true;

                }
                return false;
            }
            edit() {
                var instance = this;
                if (instance.editValidation()) {
                    var data = new FormData();
                    $.each(instance.editData, (key, value) => {
                        if (key != "avatar") {
                            data.append(key, value);
                        }
                    });
                    var file = instance.$editMd.find("[name=avatar]")[0].files[0];
                    if (file != null) {
                        data.append("avatar", file);
                    }
                    $.ajax({
                        url: '/Customer/CreateOrUpdate',
                        type: 'POST',
                        data: data,
                        cache: false,
                        dataType: 'json',
                        processData: false,
                        contentType: false,
                        success(response, textStatus, jqXHR) {
                            if (response.success) {
                                instance.$editMd.find("form")[0].reset();
                                instance.reloadTable();
                                instance.$editMd.hide();
                            }
                            EXO.alert(response.message);
                        },
                        error(jqXHR, textStatus, errorThrown) {
                            EXO.alert('Cập nhật thất bại!');
                        }
                    });

                }
            }
            delete(data) {
                var instance = this;
                EXO.confirm("Are you sure to delete this user?", response => {
                    if (response.value)
                        $.ajax({
                            url: "/Customer/Delete",
                            data: { id: data.id },
                            type: 'post'
                        }).done(function (response) {
                            if (response.success) {
                                instance.$createMd.find("form")[0].reset();
                                instance.reloadTable();
                                instance.$createMd.hide();
                            }
                            if (response.message && response.message != "null")
                                EXO.alert(response.message);
                        });
                });
            }
        }
        var UserHandler = null;
        $(document).ready(function () {
            UserHandler= new PageHandler();
        });
    </script>
}




