@{ 
    ViewBag.Title = "UnAuthorized - Excell-On Services";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

@section AdditionStyles{


}

<div class=" no-margin">
    <div class="content-title">
        <div class="caption">
            <span class="caption-subject font-green-sharp bold uppercase">UnAuthorized</span>
        </div>
    </div>
    <div class="content-body">
        <h4>Bạn không có quyền thực hiện chức năng này! Vui Lòng liên hệ với quản trị viên để được cấp quyền thực thi!</h4>
        <span>Hoặc nhấn vào <a href="/Admin/Login">đây</a> để đăng nhập tài khoản với quyền admin</span>
    </div>
</div>

@section AdditionScripts{

}




